#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .huayra
# Install wrapper scripts for /usr/bin/elinks and /usr/bin/less
DEB_DIVERT_FILES_huayra-config-pkg-gimp += \
	/usr/share/applications/gimp.desktop.huayra

# Remove elinks diversion on upgrade if it was previously in place on
# the target system
DEB_UNDIVERT_FILES_huayra-config-pkg-gimp += /usr/share/applications/gimp.desktop.huayra

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
